@using Bulky.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Product

<form method="post">
    @* <input hidden asp-for="ProductId" /> *@
    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Title</h3>
                    <p class="text-white-50 fw-semibold mb-0">by @Model.Author</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">


@* 
                        @if (Model.Product.ProductImages != null && Model.Product.ProductImages.Count > 0)
                        {
                            <div id="carouselExampleIndicators" class="carousel  slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">

                                    @foreach (var imageWithIndex in
                                   Model.Product.ProductImages
                                   .Select((image, index) => new { Image = image, Index = index }))
                                    {
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@imageWithIndex.Index"
                                                class="@(imageWithIndex.Index==0?"active":"")" aria-current="true" aria-label="Slide 1"></button>
                                    }


                                </div>
                                <div class="carousel-inner">
                                    @foreach (var imageWithIndex in
                                   Model.Product.ProductImages
                                   .Select((image, index) => new { Image = image, Index = index }))
                                    {
                                        <div class="@(imageWithIndex.Index==0?"carousel-item active":"carousel-item")">
                                            <img src="@imageWithIndex.Image.ImageUrl" class="d-block w-100" alt="...">
                                        </div>
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        }

 *@

                        <img id="prodImg" src="@Model.ImageUrl" width="100%" class="rounded" />




                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">

                        <div class="col-12 col-md-6 pb-4">
                            <span class="badge">@Model.Category.Name</span>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50 ">ISBN : @Model.ISBN</h6>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50  pb-2">
                                List Price:
                                <span class="text-decoration-line-through">
                                    @Model.ListPrice.ToString("c", new System.Globalization.CultureInfo("en-US"))
                                </span>
                            </h6>
                        </div>
                        <div class="row text-center ps-2">
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">Quantity</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">1-50</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">51-100</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">100+</div>
                            </div>
                        </div>
                        <div class="row text-center ps-2">
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>Price</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.Price.ToString("c", new System.Globalization.CultureInfo("en-US"))</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.Price50.ToString("c", new System.Globalization.CultureInfo("en-US"))</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.Price100.ToString("c", new System.Globalization.CultureInfo("en-US"))</div>
                            </div>
                        </div>
                        <div class="row pl-2 my-3">
                            <p class="text-secondary lh-sm">@Html.Raw(Model.Description)</p>
                        </div>
                        <div class="row pl-2 mb-3">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary text-white border-0 fw-semibold"
                                          id="inputGroup-sizing-default">
                                        Count
                                    </span>
                                    <input @* asp-for="Count" *@ type="number" value="1" class="form-control text-end"
                                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit"
                                        class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold" disabled>
                                    Add to Cart 
                                    (<span>Comming soon........</span>)
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <!-- Lớp modal-lg để modal lớn, modal-dialog-centered để căn giữa -->

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="modalImg" class="img-fluid" src="" alt="Modal Image">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    const imgElement = document.getElementById('prodImg');
    const modalImg = document.getElementById('modalImg');
    const myModal = new bootstrap.Modal(document.getElementById('myModal'));

    imgElement.addEventListener('click', () =>
    {
        if (imgElement.classList.contains('active')) {
            imgElement.classList.remove('active');
            imgElement.classList.add('active');
            
            if (imgElement.classList.contains('active')) {
                modalImg.src = imgElement.src;
                myModal.show();
            }
        }
        else {
            imgElement.classList.add('active');
        }
    });

    document.addEventListener('click', function (e) {
        if (!imgElement.contains(e.target)) {
            imgElement.classList.remove('active');
        }
    });

</script>

<style>
    body{
        user-select: none;
    }

    img:hover{
        cursor: pointer;
    }


    .modal-content{
        width: 800px;
        height: auto;
    }
    .modal-body{
        width: 100%;
        height: auto;
        background: rgba(255, 255, 255, 0.5);
    }

    #modalImg{
        width: 100%;
        height: auto;
        max-height: 650px;
        object-fit: contain;
    }
</style>
